[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/melesar/Desktop/Screencast 2022-06-24 17:18:02.mp4]
row=8
col=0

[/home/melesar/Desktop/First Strike - Android - 2022-07-08_10_34.html]
row=6
col=0

[/home/melesar/Desktop/Props.png]
row=5
col=0

[/home/melesar/Desktop/Pyszczek.mp4]
row=4
col=0

[/home/melesar/Desktop/Pyszczek.mpg]
row=3
col=0

[/home/melesar/Desktop/16.jpg]
row=1
col=1

[/home/melesar/Desktop/First Strike - Android - 2022-07-07_15_43.html]
row=7
col=0

[/home/melesar/Desktop/[FSE] Strategic Board - Board Report.pdf]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/melesar]
row=2
col=0

